/* flex */
html, body {
    width: 99%;
    height: 99%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 101%;
    height: 79%;
}
.col {
    width: 15%;
}
.col-content {
    width: 85%;
    height: 99%;
    background-color: rgb(224, 221, 221);
}

/* navbar */
.nav-bar {
    display: flex;
    width: 100%;
    height: 15%;
    background-image: linear-gradient(to right, #0C134F , red);
    position: fixed;
    top: 0;
    left: 0;
}
.nav-end{
    height: 15%;
}
.nav-ahead>img{
    width: 100%;
    height: 70%;
    padding: 3%;
}

/* menu */
.menu{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: center;
    width: 15%;
    height: 78%;
    left: 0;
    top: 15%;
    background-image: linear-gradient(to bottom, #0C134F , red);
}
.menu-bar{
    padding-top: 5%;
    width: 80%;
}
.menu-bar>a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.menu-head{
    color: white;
    font-weight: bolder;
}
.menu-item{
    display: flex;
    margin-top: 5%;
    margin-left: 9%;
    border-radius: 3px;
    height: 7%;
    justify-content: left;
    align-items: center;
}
.menu-item>i{
    margin-right: 5%;
}

.menu-item:hover{
    opacity: 0.5;
}

/* content */
.content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 96%;
}
.content>h1{
    padding-left: 3%;
}
.content>p{
    padding-left: 3%;
    padding-right: 3%;
    text-indent: 2.5em;
}
.content>img{
    width: 450px;
    height: 450px;
    object-fit: cover;
    padding-left: 3%;
}

/* footer */
.footer{
    display: flex;
    width: 100%;
    height: 7%;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    /* background-color: whitesmoke; */
    background-image: linear-gradient(to right, #0C134F , red);
    color: white;
    font-size: large;
    font-weight: bolder;
}